/* ---------- GLOBAL ---------- */

body{
    font-family: 'Montserrat', sans-serif;
    background:#F7F9FC;
    color:#1E2A38;
    line-height:1.7;
}

/* ---------- HEADINGS ---------- */

h1,h2,h3,h4{
    color:#0B3A63;
    font-weight:700;
}

h1{
    font-size:52px;
}

h2{
    font-size:34px;
    margin-bottom:20px;
}

p{
    font-size:17px;
    color:#4A5568;
}
